.filmlist {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Card {
  flex-basis: 15%;
  position: relative;
  cursor: pointer;
  animation: example 600ms linear;
  border: 1px solid grey;
  padding: 5px 5px 10px 5px;
  margin-bottom: 20px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.22);
}
.Card::nth-last-child(-n + 4) {
  margin-bottom: 0;
}
.loader {
  margin: auto;
}

.vote {
  position: absolute;
  padding: 7px 12px;
  left: 0;
  top: 0;
  background-color: rgb(164, 199, 252);
  color: white;
  font-weight: bold;
  border-radius: 0 0 10px 0;
}
.title {
  font-size: 15px;
  padding: 10px 0 5px 0;
  text-align: center;
}
.discription {
  font-size: 11px;
}
.slideEnter {
  opacity: 0;
}
.slideEnterActive {
  opacity: 1;
  transition: opacity 500ms linear;
}
.spinner {
  width: 50px;
  height: 50px;
  animation: ui-progress-spinner-color 0.5s linear;
}

@keyframes example {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes ui-progress-spinner-color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}
