.transitionEnter {
  opacity: 0;
}
.transitionEnterActive {
  opacity: 1;
  transition: opacity 300ms ease;
}
.transitionExit {
  opacity: 1;
}
.transitionExitActive {
  opacity: 0;
  transition: opacity 300ms ease;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
